<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Album Home</title>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/homecss.css">
  <style>
  .positionDiv{
    margin-top: 10px;
  }
  .greycover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:black;
    z-index: 10000;
    display: none;
  }
  .viedeoDiv {
    position: relative;
    background-color: black;
    width: 60%;
    height: 60%;
    top: 60%;
    left: 60%;
    margin: -20% -40%;
  }

  .closeBar {
    width: 100%;
    height: 10%;
    text-align: right;
  }

  .btnClose:hover{
    background-color: bisque;
  }
  </style>
</head>

<body>
  <div class="greycover">
    <div class="viedeoDiv">
      <div class="closeBar">
        <button class="btn btnClose">Close</button>
      </div>
      <video id="video" width="100%" height="100%" controls autoplay>
        <source src="" type="video/mp4">
      </video>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Album Express</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="/upload">Upload</a>
      </div>
    </div>
  </nav>
  <div class="container positionDiv">
    <div class="row">
      <div class="col-md-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <% for(var i = 0; i < pathsArray.length; i++){ %>
              <% if(pathsArray.length == i+1) { %>
                <li class="breadcrumb-item active" aria-current="page">
                    <%= pathsName[i]%>
                </li>
              <% } else { %>
                <li class="breadcrumb-item">
                  <a href="<%= pathsArray[i]%>">
                    <%= pathsName[i]%>
                  </a>
                </li>
                <% } %>
            <% } %>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
  <div class="container divgridfolder">
    <div class="row">
      <% for(var i = 0; i < folders.length; i++){%>
        <div class="col-xs-6 col-md-3 divImgGroup">
          <% if(currentDir == '/'){ %>
            <a href="javascript:void(0)">
            <input type="hidden" value="<%= currentDir + folders[i]%>">
          <% }else{ %>
            <a href="javascript:void(0)">
            <input type="hidden" value="<%= currentDir + '/' + folders[i]%>">
          <% } %>
            <img src="/images/folder.jpg" class="img-thumbnail imgfolder">
            </a>
          <p>
            <%= folders[i] %>
          </p>
        </div>
      <%}%>
    </div>
  </div>

  <script>
    window.onload = function(){
       $('a').click(function(event){
         var href = event.currentTarget.firstElementChild.value;
         if(href.endsWith('.mp4')) {
           //show video
           $('.greycover').fadeIn();
           $('#video').attr('src', href);
           $('#video')[0].play();
         }else{  
           window.location = href;
         }
       });

       $('.btnClose').click(function(event){
         $('#video')[0].pause();
         $('.greycover').fadeOut();
       });
    }
  </script>
</body>

</html>